body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

body.menu-open {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

a {
  color: var(--color-text);
  text-decoration: underline;
}

a:hover {
  color: var(--color-text-muted);
}
