# macOS
.DS_Store
._*

# Node
.pnpm-store
node_modules/
npm-debug.log
dist/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

# env
*.local
